In [1]:
import tensorflow as tf

import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Bidirectional
from tensorflow.keras.layers import Dense
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from tensorflow.keras.layers import Activation, Dense, Dropout
from tensorflow.keras import optimizers
from pandas import Series
import math
import numpy
from tensorflow.keras.layers import *
from tensorflow.keras import layers
import pandas as pd
from math import *
from sklearn.metrics import *

data = pd.read_csv("C:\\Users\\mozzimerci\\jupyter notebook\\time\\bike_pm2.5\\PRSA_data_2010.1.1-2014.12.31.csv")

In [2]:
from graphviz import *
from sklearn.datasets import load_iris
from sklearn import tree
 
from collections import Counter
from itertools import chain, combinations
 
import ast
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
import graphviz
import seaborn as sns
from sklearn import datasets, svm, metrics
from pandas import DataFrame

In [3]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [4]:
cbwd = pd.get_dummies(data['cbwd'])
cbwd.columns = ["cbwd_{}".format(i) for i in range(cbwd.shape[1])]
data = pd.concat([data, cbwd], axis=1)

In [5]:
data['cbwd']=data['cbwd'].factorize()[0]

In [6]:
data['pm2.5'] = data['pm2.5'].fillna(method='ffill').fillna(method='bfill')

In [7]:
data.drop(['cbwd_0','cbwd_1','cbwd_2','cbwd_3'], axis=1, inplace=True)

In [8]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,129.0,-21,-11.0,1021.0,0,1.79,0,0
1,2,2010,1,1,1,129.0,-21,-12.0,1020.0,0,4.92,0,0
2,3,2010,1,1,2,129.0,-21,-11.0,1019.0,0,6.71,0,0
3,4,2010,1,1,3,129.0,-21,-14.0,1019.0,0,9.84,0,0
4,5,2010,1,1,4,129.0,-20,-12.0,1018.0,0,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,0,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,0,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,0,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,0,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,0,249.85,0,0

In [9]:
data.columns[5:]

Index(['pm2.5', 'DEWP', 'TEMP', 'PRES', 'cbwd', 'Iws', 'Is', 'Ir'], dtype='object')

In [10]:
from sklearn.preprocessing import MinMaxScaler
values = data[data.columns[5:]].values.reshape(-1,8)
values = values.astype('float32')
#scaler = MinMaxScaler(feature_range=(0, 1))
#scaled = scaler.fit_transform(values)
scaled = (values-(np.min(values)))/(np.max(values)-(np.min(values)))

In [11]:
train_size = int(len(scaled) * 0.8)
val_size = int(len(scaled) * 0.10)
test_size = len(scaled) - train_size-val_size
train, val, test = scaled[0:train_size,:],scaled[train_size:train_size+val_size,:], scaled[train_size+val_size:,:]
print(len(train),len(val), len(test))

35059 4382 4383

In [12]:
train_size = 35060
val_size = 4382
test_size = 4382

In [13]:
train, val, test = scaled[0:train_size,:],scaled[train_size:train_size+val_size,:], scaled[train_size+val_size:,:]
print(len(train),len(val), len(test))

35060 4382 4382

In [14]:
train_x = train[:,1:]
train_y = train[:,0]
val_x = val[:,1:]
val_y = val[:,0]
test_x = test[:,1:]
test_y = test[:,0]

In [15]:
print(train_x.shape)
print(train_y.shape)

(35060, 7)
(35060,)

## RMSE

### kernel = linear

In [16]:
# C는 학습 오류에 대한 패널티 C 값이 클 수록 모델이 학습 데이터에 좀 더 최적화 됨.
# 너무 크면 오버피팅 발생
# Epsilon 은 임계점을 표현 즉, 예측한 값이 GT 범위 안에 있으면 패널티 부여 X

# c가 커질수록 무조건 좋아짐?
c_1_list = [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
rmse_list = []

# Validation
for c_1 in c_1_list:
    svr = SVR(kernel='linear', C=c_1, epsilon=0.1)
    svr.fit(train_x, train_y)

    yhat = svr.predict(val_x)
    rmse = sqrt(mean_squared_error(val_y, yhat))
    rmse_list.append(rmse)
    
    result = list(map(list, zip(c_1_list, rmse_list)))
    result_df = DataFrame(result,columns=['c', 'rmse'])

print('-------Validation-------')
print(result_df)

-------Validation-------
       c      rmse
0    0.1  0.088172
1    1.0  0.084032
2    2.0  0.082894
3    3.0  0.082305
4    4.0  0.081965
5    5.0  0.081767
6    6.0  0.081662
7    7.0  0.081535
8    8.0  0.081481
9    9.0  0.081471
10  10.0  0.081380

In [17]:
# Test
best_c_1 = result_df.iloc[result_df['rmse'].argmin()]['c']
svr = SVR(kernel='linear', C=best_c_1, epsilon=0.1) 
svr.fit(train_x, train_y)
predict = svr.predict(test_x)
test_rmse = sqrt(mean_squared_error(test_y, predict))

print('Test RMSE :', test_rmse)

Test RMSE : 0.07772661253520896

### kernel = RBF 
c

In [ ]:
c_1_list = [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
rmse_list = []

# Validation
for c_1 in c_1_list:
    svr = SVR(kernel='rbf', C=c_1, gamma = 1,  epsilon=0.1)
    svr.fit(train_x, train_y)

    yhat = svr.predict(val_x)
    rmse = sqrt(mean_squared_error(val_y, yhat))
    rmse_list.append(rmse)
    
    result = list(map(list, zip(c_1_list, rmse_list)))
    result_df = DataFrame(result,columns=['c', 'rmse'])

print('-------Validation-------')
print(result_df)

In [ ]:
# Test
best_c_1 = result_df.iloc[result_df['rmse'].argmin()]['c']
svr = svr = SVR(kernel='rbf', C=c_1, gamma = 1,  epsilon=0.1)
svr.fit(train_x, train_y)
predict = svr.predict(test_x)
test_rmse = sqrt(mean_squared_error(test_y, predict))

print('Test RMSE :', test_rmse)

### kernel = RBF 
gamma

In [ ]:
gmm_list = [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9 ,10, 100]
rmse_list = []

# Validation
for gmm in gmm_list:
    svr = SVR(kernel='rbf', C=10, gamma = gmm,  epsilon=0.1)
    svr.fit(train_x, train_y)

    yhat = svr.predict(val_x)
    rmse = sqrt(mean_squared_error(val_y, yhat))
    rmse_list.append(rmse)
    
    result = list(map(list, zip(gmm_list, rmse_list)))
    result_df = DataFrame(result,columns=['gamma', 'rmse'])

print('-------Validation-------')
print(result_df)

In [ ]:
# Test
best_gmm = result_df.iloc[result_df['rmse'].argmin()]['gamma']
svr = svr = SVR(kernel='rbf', C=10, gamma = best_gmm,  epsilon=0.1)
svr.fit(train_x, train_y)
predict = svr.predict(test_x)
test_rmse = sqrt(mean_squared_error(test_y, predict))

print('Test RMSE :', test_rmse)

## MAE

### kernel = linear

In [ ]:
c_1_list = [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
mae_list = []

# Validation
for c_1 in c_1_list:
    svr = SVR(kernel='linear', C=c_1, epsilon=0.1)
    svr.fit(train_x, train_y)

    yhat = svr.predict(val_x)
    mae = mean_absolute_error(val_y, yhat)
    mae_list.append(mae)
    
    result = list(map(list, zip(c_1_list, mae_list)))
    result_df = DataFrame(result,columns=['c', 'mae'])

print('-------Validation-------')
print(result_df)

In [ ]:
# Test
best_c_1 = result_df.iloc[result_df['mae'].argmin()]['c']
svr = SVR(kernel='linear', C=best_c_1, epsilon=0.1) 
svr.fit(train_x, train_y)
predict = svr.predict(test_x)
test_mae = mean_absolute_error(val_y, yhat)

print('Test MAE :', test_mae)

### kernel = RBF 
c

In [ ]:
c_1_list = [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
rmse_list = []

# Validation
for c_1 in c_1_list:
    svr = SVR(kernel='rbf', C=c_1, gamma = 1,  epsilon=0.1)
    svr.fit(train_x, train_y)

    yhat = svr.predict(val_x)
    mae = mean_absolute_error(val_y, yhat)
    mae_list.append(mae)
    
    result = list(map(list, zip(c_1_list, mae_list)))
    result_df = DataFrame(result,columns=['c', 'mae'])

print('-------Validation-------')
print(result_df)

In [ ]:
# Test
best_c_1 = result_df.iloc[result_df['mae'].argmin()]['c']
svr = svr = SVR(kernel='rbf', C=c_1, gamma = 1,  epsilon=0.1)
svr.fit(train_x, train_y)
predict = svr.predict(test_x)
test_mae = mean_absolute_error(val_y, yhat)

print('Test mae :', test_mae)

### kernel = RBF 
gamma

In [ ]:
gmm_list = [0.1, 1, 2, 3, 4, 5, 6, 7, 8, 9 ,10, 100]
rmse_list = []

# Validation
for gmm in gmm_list:
    svr = SVR(kernel='rbf', C=10, gamma = gmm,  epsilon=0.1)
    svr.fit(train_x, train_y)

    yhat = svr.predict(val_x)
    mae = mean_absolute_error(val_y, yhat)
    mae_list.append(mae)
    
    result = list(map(list, zip(gmm_list, mae_list)))
    result_df = DataFrame(result,columns=['gamma', 'mae'])

print('-------Validation-------')
print(result_df)

In [ ]:
# Test
best_gmm = result_df.iloc[result_df['mae'].argmin()]['gamma']
svr = svr = SVR(kernel='rbf', C=10, gamma = best_gmm,  epsilon=0.1)
svr.fit(train_x, train_y)
predict = svr.predict(test_x)
test_mae = mean_absolute_error(val_y, yhat)

print('Test mae :', test_mae)